@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-mono: "Geist Mono", monospace;

  --text-title: 24px;
  --text-subtitle: 18px;
  --text-body: 16px;

  --page-padding: clamp(20px, 5vw, 50px);
  --content-max-width: 1800px;

  --color-bg: #ffffff;
  --color-text: #000000;
}

html {
  font-family: var(--font-mono);
  color: var(--color-text);
  background: var(--color-bg);
}

.page-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  /* what */
  width: min(100% - (var(--page-padding) * 2), var(--content-max-width));
  margin-inline: auto;
}

h1 {
  font-size: var(--text-title);
}

h2 {
  font-size: var(--text-subtitle);
}

p {
  font-size: var(--text-body);
}

main {
  flex: 1;
}
