<footer class="container footer">
  <p>
    © 2026 - loosely designed in Figma and coded by yours truly. Built with
    Astro, deployed with Cloudfare Pages. All text is set in the Geist typeface.
  </p>
</footer>
